<p>home works!</p>
<app-carousel [banners]="bannerImages" />
<app-facility />
<app-featured-cat />
<app-combo></app-combo>
.<div class="section-three">
    <div class="combo-con">
        <app-banner [bannerLink]="dhua" />
        <app-headings [headings]="'Trending Products'" />
        <app-product-list [productList]="products" />
        <app-banner [bannerLink]="tiandy" />
        <app-headings [headings]="'Television Entertainment'" />
        <app-product-list [productList]="products" />
        <app-banner [bannerLink]="'https://api.digihaat.com.bd/api/upload/images/dahua-monitor-best-deal-4dde.png'" />
        <app-headings [headings]="'Popular Products'" />
        <app-product-list [productList]="products" />
        <app-banner [bannerLink]="'https://api.digihaat.com.bd/api/upload/images/bulb-2d3a.png'" />
        <app-headings [headings]="'Laptops & Computers'" />
        <app-product-list [productList]="products" />
    </div>
</div>