.card-con-products {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;

    .dots-con {
        // display: inline-block;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4px;
        // width: 30px;
        position: absolute;
        z-index: 660;
        bottom: 10px;
        left: calc(50% - 15px);
        // background-color: #020025;

        .dot {
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background-color: #02002536;
            cursor: pointer;
        }

    }

    .svg {
        position: absolute;
        // border: 1px solid black;
        border-radius: 50%;
        top: calc(50% - 22.5px) 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        // box-shadow: 4px 4px 15px 4px rgba(134, 134, 134, 0.2);
        background-color: #fff;
        width: 45px;
        height: 45px;
        transform: translateY(-50%);
        z-index: 660;
        //   border-radius: 50%;
        transition: all .3s linear;
        visibility: hidden;
        opacity: 0;
        box-shadow: 0 15px 35px #0000001a;
        text-shadow: 2px 3px 8px rgba(0, 0, 0, .1);

        svg {
            stroke: #FCD804;
            fill: #FCD804;
            width: 20px;
            height: 20px;
        }

        &:hover {
            background-color: #FCD804;

            svg {
                stroke: #fff;
                fill: #fff;
            }
        }

    }

    .first {
        right: -25px;
    }

    .last {
        left: -25px;
        // background-color: #2c2c2c;
    }

    .products-card {
        max-width: calc(20% - 8px);
        flex: 1 1 calc(20% - 8px);
        padding: 30px 15px 5px 10px;
        // border: 1px solid black;
        transition: all 0.3s ease;
        cursor: pointer;

        .name {
            font-size: 16px;
            font-weight: 600;
            color: rgb(59, 59, 139);
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            /* Limit to 2 lines */
            line-clamp: 2;
            -webkit-box-orient: vertical;
            text-overflow: ellipsis;
            margin: 5px 0px 10px;
        }

        .img {
            img {
                width: 150px;
                height: 150px;
            }
        }

        .card-section-three {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .price-con {
                color: #333e48;
                //   font-family: Open Sans,sans-serif;
                font-style: normal;
                font-weight: 500;
                font-size: 18px;

                .price {
                    text-decoration: line-through;
                }

                span {
                    font-weight: 600;
                    color: black;
                }

            }

            .cart {
                border: none;
                width: 35px;
                height: 35px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: all 0.1s ease;



                svg {
                    width: 16px;
                    height: 16px;
                }
            }
        }

        .card-section-four {
            border-top: 1px solid #dddddd;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 15px 0px 0px;
            visibility: hidden;
            transition: all 0.1s ease;
            // cursor: default;


            button {
                color: #6e6e6e;
                border: none;
                padding: 10px 0px 0px;
                background-color: white;
                font-weight: 500;
                font-size: 16px;
                margin-bottom: 10px;
                cursor: pointer;

                svg {
                    width: 14px;
                    height: 14px;
                    stroke: #6e6e6e;
                    fill: #6e6e6e;
                    margin-right: 5px;

                }

                &:hover {
                    color: #2c2c2c;

                    svg {
                        stroke: #2c2c2c;
                        fill: #2c2c2c;
                    }

                }
            }

        }

        &:hover {
            box-shadow: 0 0 6px #0101014d;

            .card-section-four {

                visibility: visible;
            }

            .card-section-three {

                .cart {
                    background-color: #FCD804;
                }
            }

        }
    }

    &:hover {
        .svg {

            visibility: visible;
            opacity: 1;
        }
    }

}

@media screen and (max-width:1200px) {
    .card-con-products {
        .products-card {
            max-width: calc(25% - 10px);
            flex: 1 1 calc(25% - 10px);
        }

        // max-width: 942px;
    }
}

@media screen and (max-width:990px) {
    .card-con-products {
        .products-card {
            max-width: calc(33.33% - 13.33px);
            flex: 1 1 calc(33.33% - 13.33px);
        }

        // max-width: 942px;
    }
}

@media screen and (max-width:770px) {
    .card-con-products {
        .products-card {
            max-width: calc(50% - 20px);
            flex: 1 1 calc(50% - 20px);
        }

        // max-width: 942px;
    }
}

@media screen and (max-width:550px) {
    .card-con-products {
        .products-card {
            max-width: 100%;
            flex: 1 1 100%;
        }

        // max-width: 942px;
    }
}