<div class="facility-main">
    <div class="section-eight">

        <div class="container">
            <div class="delivery-info"><img
                    src="https://api.digihaat.com.bd/api/upload/images/digihaat-free-delivery-icon-e688.png" alt="">
                <div>
                    <h3>Delivery</h3>
                    <span>Within 24 Working Hour</span>
                </div>
            </div>
            <div class="delivery-info"><img src="https://api.digihaat.com.bd/api/upload/images/icon01-faa9.png" alt="">
                <div>
                    <h3>99% Customers</h3>
                    <span>Feedbacks</span>
                </div>
            </div>
            <div class="delivery-info"><img src="https://api.digihaat.com.bd/api/upload/images/icon02-5311.png" alt="">
                <div>
                    <h3>7 Days Return Policy</h3>
                    <span>For Free Return</span>
                </div>
            </div>
            <div class="delivery-info"><img src="https://api.digihaat.com.bd/api/upload/images/icon03-b83d.png" alt="">
                <div>
                    <h3>Payment</h3>
                    <span>Secure System</span>
                </div>
            </div>
            <div class="delivery-info"><img src="https://api.digihaat.com.bd/api/upload/images/icon04-46f9.png" alt="">
                <div>
                    <h3>Only Best</h3>
                    <span>Brands</span>
                </div>
            </div>
        </div>
    </div>
</div>