<div class="carousel-container">
    <div class="carousel">
        <div class="slides" [style.transform]="'translateX(-' + (currentIndex * 100) + '%)'">
            <div class="slide" *ngFor="let banner of banners">
                <a [href]="banner.link || '#'" *ngIf="banner.link">
                    <img [src]="banner.image" [alt]="banner.alt || ''">
                </a>
                <img [src]="banner.image" [alt]="banner.alt || ''" *ngIf="!banner.link">
            </div>
        </div>
    </div>

    <button class="nav-button prev" (click)="prevSlide(true)" aria-label="Previous slide">
        &lt;
    </button>
    <button class="nav-button next" (click)="nextSlide(true)" aria-label="Next slide">
        &gt;
    </button>

    <div class="dots" *ngIf="banners.length > 1">
        <button *ngFor="let banner of banners; let i = index" [class.active]="i === currentIndex" (click)="goToSlide(i)"
            [attr.aria-label]="'Go to slide ' + (i + 1)">
        </button>
    </div>
</div>